*.swp
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
.DS_Store
cmd/kubectl-mittens/kubectl-mittens
kubectl-mittens
!cmd/kubectl-mittens/
dist/*
ci.mod
ci.sum
ig-tests.mod
ig-tests.sum
*_original
site/
.vim/
venv/
coverage.*
