name: mitmproxy-image

on:
  schedule:
    - cron: "0 18 * * 0"  # Every Sunday
  push:
    branches: [master]
    paths:
      - proxies/mitmproxy/**
      - .github/workflows/mitmproxy.yml

permissions:
  packages: write

jobs:
  build:
    name: Build and Push mitmproxy Image
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v6
      
      - uses: docker/setup-buildx-action@v3
      
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - uses: docker/build-push-action@v6
        with:
          context: ./proxies/mitmproxy
          push: true
          tags: |
            ghcr.io/lappihuan/mittens-mitmproxy:latest
            ghcr.io/lappihuan/mittens-mitmproxy:${{ github.sha }}
